*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    margin-top: 20px;
    height: 100px;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-left: 50px;
   margin-right: 50px;
}
.header img{
    color: transparent;
}
.header .header-middle a{
    text-decoration: none;
    color:black;
    font-size: 16;
    font: 15px sans-serif;
    display: inline-block;
    margin: 0 15px;
}
.header-right button{
    width: 120px;
    background-color: blue;
    height: 40px;
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    border: none;
    border-radius: 10px;
}
.fa-chevron-down{
    font-size: 10px;
}
.fa-chevron-right{
    font-style: 10px;
}
.section{
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}
.section-left{
    width: 650px;
}
.section .head{
    font-family: sans-serif;
    font-size: 55px;
    font-weight: 500px;
}
.section p{
    font-family: sans-serif;
    margin-top: 30px;
    font-size: 22px;
}
.button-1{
    background-color: blue;
    border: none;
    height: 46px;
    width: 180px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 10px;
}
.button-2{
    height: 46px;
    width: 180px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: black;
}
.button-1 .fa-arrow-right{
    rotate: -45deg;
}