*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}
body{
    margin-top: 50px;
}
#task{
    display: inline-block;
    margin: 30px 15px;
    height: 30px;
}
#btn{
    background-color: black;
    color: white;
    width: 80px;
    border: none;
    border-radius: 5px;
    height: 30px;
    font-weight: bold;
}